html {
  overflow-x: hidden;
}
body {
  overflow: hidden;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  section {
    width: 100%;
  }
}

.container {
	@media screen and (min-width: 1190px) {
		max-width: 1160px;
	}
}
