.header {
    height: $header-height;
    position: relative;
    &__content {
        min-height: $header-height;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        background-color: $header-bg-color;
        color: $header-color;
    }
    &__box {
        position: fixed;
        left: 0;
        right: 0;
        height: 90px;
        width: 100%;
        background-color: $header-bg-color;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    &__logo {
        margin-right: auto;
    }
}
.hamburger {
    display: none;
}
.menu {
    &__items {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    &__item {
        margin: 0 10px;
        &--active {
            color: #666;
        }
    }
    &__anchor {
        text-decoration: none;
        color: black;
        &--active {
            color: #666;
        }
        &:hover {
            color: #888;
        }
    }
}

@media screen and (max-width: $lg - 1px) {
    .header {
        &__box {
            top: 0;
        }
    }
    .hamburger {
        display: block;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        border: none;
        margin-left: 0;
        padding: 12px;
        transition: 0.5s ease-in-out;
        position: relative;
        width: 30px;
        height: 24px;
        &--opened & {
            &__bar {
                &:nth-child(1) {
                    top: -1px;
                    left: 4px;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }
                &:nth-child(3) {
                    bottom: 0;
                    left: 4px;
                    transform: rotate(-45deg);
                }
            }
        }
        &__bar {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: $hamburger-color;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0;
                transform-origin: left center;
            }
            &:nth-child(2) {
                top: 10px;
                transform-origin: left center;
            }
            &:nth-child(3) {
                bottom: 0;
                transform-origin: left center;
            }
        }
    }
    .menu {
        display: flex;
        position: fixed;
        z-index: -1;
        top: -150%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0%;
        width: 100%;
        margin-top: $header-height;
        background-color: $header-bg-color;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        transition: all ease-in-out 0.3s;
        &__items {
            flex-direction: column;
        }
        &--opened {
            top: 0%;
            height: calc(100% - #{$header-height});
        }
    }
}
